
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490928245541'); /* IE9*/
  src: url('iconfont.eot?t=1490928245541#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490928245541') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490928245541') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490928245541#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before { content: "\e604"; }

.icon-xiaoxi1:before { content: "\e619"; }

.icon-quanxian:before { content: "\e659"; }

.icon-guanli:before { content: "\e605"; }

.icon-shuaxin:before { content: "\e642"; }

.icon-shape4:before { content: "\e612"; }

.icon-tuichu:before { content: "\e643"; }

.icon-lifangti:before { content: "\e615"; }

.icon-database:before { content: "\e742"; }

.icon-caidan2:before { content: "\e606"; }

.icon-11017:before { content: "\e6a3"; }

.icon-jingcha:before { content: "\e630"; }

.icon-baojingguanli:before { content: "\e607"; }

